[Unit]
Description=COTI Node Service
[Service]
WorkingDirectory=/home/coti/coti-node/
ExecStart=/usr/bin/java -jar /home/coti/coti-node/fullnode/target/fullnode-{{ new_version_tag }}.RELEASE.jar --spring.config.additional-location=fullnode.properties
SuccessExitStatus=143
User=coti
Restart=on-failure
RestartSec=10
[Install]
WantedBy=multi-user.target
