* {
  font-family: "Montserrat", sans-serif;
}
html {
  background-color: white;
}
header {
  padding-bottom: 40px;
}
body {
  min-height: 100vh;
  background: #0f8a9d;
  background: linear-gradient(57deg, #00c6a7, #1e4d92);
  

  color: white;
  font-size: 16px;
}
img {
  width: 100%;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-head {
  text-align: center;
  padding-bottom: 20px;
}

.form-group {
  font-weight: bold;
}

@media (min-width: 576px) {  
    body{
        clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
    }
}
.navbar-brand {
    white-space: normal;
}
.nav-link {
    text-decoration: underline;
}